body {
    margin: 0;
    padding: 0;
}

.container {
    height: auto;
}

.nav_bar {
    overflow: hidden;
    background-color: #e9e9e9;
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.nav_bar_items {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Calibri, serif;
    margin-top: 7px;
}

.nav_bar_items:hover {
    background-color: #ddd;
    color: black;
}

#logo {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Calibri, serif;
    font-weight: bolder;
    font-size: x-large;
}

#logo:hover {
    background-color: #ddd;
    color: black;
}

#slogan {
    float: left;
    display: block;
    color: black;
    text-align: center;
    margin-top: 7px;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial sans-serif;
    font-style: italic;
}

#slogan:hover {
    background-color: #ddd;
    color: black;
}

.search_bar {
    float: left;
    padding: 6px 0 6px 6px;
    border: none;
    margin: 12px 0 0 16px;
    font-size: 17px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.button_search {
    background-color: #555555;
    color: #e9e9e9;
    text-align: center;
    width: 57px;
    height: 31px;
    float: left;
    padding: 6px 0 0 6px;
    border: none;
    margin: 12px 0 0 0;
    font-size: 17px;
    border-radius: 0 10px 10px 0;
}

#lead_picture_container {
    width: 800px;
    height: 480px;
    overflow: hidden;
    margin: 120px auto 40px auto;
}

#lead_pictures {
    width: 2400px;
    animation: switch 5s ease-out infinite;
}

#lead_pictures > a {
    float: left;
    width: 800px;
}

@keyframes switch {
    0%, 25% {
        margin-left: 0;
    }
    35%, 60% {
        margin-left: -800px;
    }
    70%, 100% {
        margin-left: -1600px;
    }
}

.most-viewed {
    margin: auto;
    width: 900px;
    height: 1000px;
    padding-bottom: 60px;
}

.header {
    text-align: center;
    font-weight: bolder;
    font-family: "Roboto Condensed", serif;
}

.column {
    float: left;
    width: 20%;
    margin: 6.6%;
    text-align: center;
}

.column a {
    margin: 0 auto;
}

.column a img {
    width: 240px;
    margin: 0 auto;
}

.most-viewed:after {
    content: "";
    display: table;
    clear: both;
}

.name {
    font-family: Calibri, serif;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

.author {
    font-family: Arial sans-serif;
    font-style: italic;
    text-align: center;
}

.description {
    font-family: Calibri, serif;
    text-align: center;
    color: darkgray;
}

.see_details {
    text-decoration: none;
    font-family: Calibri, serif;
    color: black;
}

.see_details:hover {
    font-weight: bolder;
}

.footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    position: relative;
    margin-top: -60px;
    clear: both;
    height: 60px;
}

.footer_txt {
    color: whitesmoke;
}

.left_column {
    float: left;
    width: 30%;
    text-align: center;
    margin: 80px 10%;
}

.right_column {
    float: right;
    width: 30%;
    margin: 80px 10%;
    text-align: center;
}

.display_container:after {
    content: "";
    display: table;
    clear: both;
}

.display_header {
    margin-top: 60px;
}

.display_author {
    font-family: Arial sans-serif;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    color: black;
}

.display_author:hover {
    font-weight: bolder;
}

.button_add_into_collections {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button_add_into_collections:hover {
    background-color: black;
    cursor: pointer;
}

.sign_in, .sign_up {
    width: 400px;
    margin: 120px auto;
    padding: 80px;
    background-color: #dddddd;
    border-radius: 15px;
    text-align: center;
}

label {
    color: #dddddd;
    font-size: 17px;
}

#username, #password, #confirm_password {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    margin: 7px;
}

#sign_in_button, #sign_up_button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 7px;
}

#sign_up_entrance, #sign_in_entrance {
    margin-top: 7px;
    text-decoration: none;
    font-family: Calibri, serif;
    color: black;
}

#sign_up_entrance, #sign_in_entrance:hover {
    font-weight: bolder;
}

#sign_in_button, #sign_up_button:hover {
    background-color: black;
    cursor: pointer;
}

#left_search, #right_search {
    float: left;
    margin-top: 120px;
}

#left_search {
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 100px;
    width: 40%;
    border-radius: 10px;
    height: 1000px;
    background-color: aliceblue;
}

#main_search_bar {
    width: 400px;
    float: left;
    padding: 6px 0 6px 6px;
    border: none;
    margin: 12px 0 20px 16px;
    font-size: 17px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#search_item_container {
    height: 900px;
    width: 100%;
}

.search_items {
    height: 180px;
    width: 100%;
    margin: 0;
}

.search_items:after {
    content: "";
    display: table;
    clear: both;
}

.search_items_img {
    height: 140px;
    width: 25%;
    margin: 20px 10% 20px 5%;
    float: left;
}

.search_items_img a img {
    height: 140px;
    width: auto;
}

.search_items_txt {
    margin-left: 15%;
    height: 180px;
    width: 45%;
    float: left;
}

.paging_container {
    text-align: center;
}

.paging {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
}

.paging li {
    display: inline;
    text-align: center;
}

.paging a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: black;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
}

.paging a.active {
    cursor: default;
}

.paging a:active {
    outline: none;
}

.node a {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.node a:hover {
    background-color: darkgray;
}

.node a.active, .node a:active {
    background-color: darkgray;
}

#search_container:after {
    content: "";
    display: table;
    clear: both;
}

#right_search {
    width: 30%;
    margin-left: 5%;
    margin-right: 10%;
    height: 500px;
    background-color: ivory;
    border-radius: 10px;
}

#sorting_menu {
    margin: 80px auto;
    text-align: center;
}

#find_by_style, #find_by_artist, #find_by_name {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    margin: 7px;
}

#find {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 7px;
}

#find:hover {
    background-color: black;
    cursor: pointer;
}

.dropdown_button {
    background-color: lavender;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown_sorting {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown_sorting:hover .dropdown-content {
    display: block;
}

.dropdown_sorting:hover .dropdown_button {
    background-color: plum;
}

#collection_container:after {
    content: "";
    display: table;
    clear: both;
}

#user_info_col {
    float: left;
    width: 35%;
    margin: 120px 0 80px 5%;
    height: 600px;
    background-color: aliceblue;
    border-radius: 10px;
}

#collection_col {
    float: left;
    width: 50%;
    margin: 120px 5% 80px 5%;
    background-color: lavender;
    border-radius: 10px;
}

h2, h1 {
    text-align: center;
}

.user_info {
    width: 150px;
    margin: auto;
    text-align: center;
}

#profile {
    width: 150px;
    height: auto;
}

.info {
    text-align: center;
}

.collections {
    width: 100%;
    margin: 5px auto;
    float: left;
}

.collections:after {
    content: "";
    display: table;
    clear: both;
}

.collection_img {
    padding: 5px;
    width: 100%;
    margin: 0;
    text-align: center;
}

.collection_img img {
    width: auto;
    height: 160px;
}

.collection_descriptions {
    text-align: left;
    width: 60%;
    margin: auto;
}

.collection_del {
    width: 100%;
    text-align: center;
}

.delete {
    background-color: #555555;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.delete:hover {
    background-color: black;
    cursor: pointer;
}

.footprint_container {
    margin-top: 50px;
    overflow: hidden;
    background-color: #e9e9e9;
    position: fixed;
    top:0;
    z-index: 9999;
    width: 100%;
}

.footprint {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    font-family: "Microsoft JhengHei UI", sans-serif;
    margin-top: 0;
}

.footprint:hover {
    background-color: #ddd;
    color: black;
}