body {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0 auto;
    height: 80px;
    width: 100%;
}

nav li {
    display: inline;
    height: 60px;
}

nav li a {
    float: right;
    display: inline-block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
}

#slogan {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-family: Arial sans-serif;
    font-style: italic;
}

#logo {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-family: Times New Roman serif;
    font-weight: bolder;
    font-size: x-large;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
}

.login {
    text-align: center;
}

.register {
    text-align: center;
}

.most-viewed {
    width: 33%;
    float: left;
}

.most-viewed p {
    text-align: center;
}

.most-viewed a img {
    width: 100%;
    margin: 5px;
    vertical-align: center;
}

#wrapper {
    width: 920px;
    margin: auto;
}

#img {
    width: 45%;
    float: left;
}
#img img {
    width: 100%;
}
#content {
    width: 45%;
    float: right;
}